In [15]:
import numpy as np
import pandas as pd

In [81]:
students = pd.DataFrame([
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
])

In [82]:
type(students)

pandas.core.frame.DataFrame

In [83]:
#1 How many students are there?
student_count = len(students)
print(student_count)

14

In [90]:
students.count()

id                   14
student              14
coffee_preference    14
course               14
grades               14
pets                 14
dtype: int64

In [49]:
#2a How many students prefer light coffee?
df = pd.DataFrame(students)
df

,id,student,coffee_preference,course,grades,pets
0,100001,Ada Lovelace,light,web development,"[70, 91, 82, 71]","[{'species': 'horse', 'age': 8}]"
1,100002,Thomas Bayes,medium,data science,"[75, 73, 86, 100]",[]
2,100003,Marie Curie,light,web development,"[70, 89, 69, 65]","[{'species': 'cat', 'age': 0}]"
3,100004,Grace Hopper,dark,data science,"[73, 66, 83, 92]","[{'species': 'dog', 'age': 4}, {'species': 'ca..."
4,100005,Alan Turing,dark,web development,"[78, 98, 85, 65]","[{'species': 'horse', 'age': 6}, {'species': '..."
5,100006,Rosalind Franklin,dark,data science,"[76, 70, 96, 81]",[]
6,100007,Elizabeth Blackwell,dark,web development,"[69, 94, 89, 86]","[{'species': 'cat', 'age': 10}]"
7,100008,Rene Descartes,medium,data science,"[87, 79, 90, 99]","[{'species': 'cat', 'age': 10}, {'species': 'c..."
8,100009,Ahmed Zewail,medium,data science,"[74, 99, 93, 89]","[{'species': 'cat', 'age': 0}, {'species': 'ca..."
9,100010,Chien-Shiung Wu,medium,web development,"[82, 92, 91, 65]","[{'species': 'cat', 'age': 8}]"
10,100011,William Sanford Nye,dark,data science,"[70, 92, 65, 99]","[{'species': 'cat', 'age': 8}, {'species': 'ca..."
11,100012,Carl Sagan,medium,data science,"[100, 86, 91, 87]","[{'species': 'cat', 'age': 10}]"
12,100013,Jane Goodall,light,web development,"[80, 70, 68, 98]","[{'species': 'horse', 'age': 4}]"
13,100014,Richard Feynman,medium,web development,"[73, 99, 86, 98]","[{'species': 'dog', 'age': 6}]"

In [56]:
sum(df.coffee_preference == 'light')

3

In [91]:
#2b For each coffee type?...
df.groupby('coffee_preference').count().student

coffee_preference
dark      5
light     3
medium    6
Name: student, dtype: int64

In [80]:
#3 How many types of pets?
df.groupby('pets').count()

TypeError: unhashable type: 'list'